* {
  margin: 0 0;
  width: 100%;
  height: 100%;
}

/** NAV BAR **/

header {
  display: flex;
  height: 100px;
  background-color: #fec72e;
  position: fixed;
  border-radius: 0 0 10px 10px;
}

.left {
  width: 25%;
}

.left h1 {
  color: #533f2b;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.right {
  display: flex;
}

.right-right {
  display: flex;
}

.right-right a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #533f2b;
  letter-spacing: -0.8px;
}

.right-right a:hover{
  color:black;
}

#login-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-button {
  border-radius: 20px;
  color: white;
  background-color: #533f2b;
  width: 60%;
  height: 50%;
}

#login-button:hover {
  transform: scale(1.09);
}

/** NAV BAR END **/

.page_landing {
  top: 100px;
  height: 800px;
  width: 100%;
}

.background_image {
  background-color: #fec72e;
  z-index: -1;
  height: 700px;
  position: absolute;
}

.page_landing_content {
  display: flex;
  padding-top: 100px;
}

.page_landing_content-left {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  height: 75%;
  font-family: 'Open Sans', sans-serif;
}

.page_landing_content-left h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.page_landing_content-right {
  display: flex;
  align-items: center;
}

.page_landing_content-right img {
  width: auto;
  height: auto;
}
